*{
    box-sizing: border-box;
    background-color: #beb7ae70;
}
.menu{
    float: left;
    width: 20%;
}
.menuitem{
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid hwb(19 11% 5%) ;
}
.main{
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}
.rigth{
    background-color: hwb(140 18% 25% / 0.424);
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;}
    
    @media only screen and (max-width:800px){
        /*tablets:*/
        .main{
            width: 80%;
            padding: 0;
        }
        .rigth{
            width: 100%;
        }
    }
    @media only screen and (max-width:500px){
        /*celulares*/
        .menu, main,  .rigth{
            width: 100%;
        }
    }
